<div class="container-fluid">
  <div class="highlights">
    <h2 class="heading">today's highlights</h2>
    <div class="row cards">
      <div class="card2 col-4">
        <h4 class="card-heading">UV Index</h4>
        <div class="content">
          <p class="uv-index">0</p>
          <p class="uv-text">Low</p>
        </div>
      </div>
      <div class="card2 col-4">
        <h4 class="card-heading">Wind Status</h4>
        <div class="content">
          <p class="wind-speed">0</p>
          <p>km/h</p>
        </div>
      </div>
      <div class="card2 col-4">
        <h4 class="card-heading">Sunrise & Sunset</h4>
        <div class="content">
          <p class="sun-rise">0</p>
          <p class="sun-set">0</p>
        </div>
      </div>
      <div class="card2 col-4">
        <h4 class="card-heading">Humidity</h4>
        <div class="content">
          <p class="humidity">0</p>
          <p class="humidity-status">Normal</p>
        </div>
      </div>
      <div class="card2 col-4">
        <h4 class="card-heading">Visibility</h4>
        <div class="content">
          <p class="visibilty">0</p>
          <p class="visibilty-status">Normal</p>
        </div>
      </div>
      <div class="card2 col-4">
        <h4 class="card-heading">Air Quality</h4>
        <div class="content">
          <p class="air-quality">0</p>
          <p class="air-quality-status">Normal</p>
        </div>
      </div>
    </div>
  </div>
</div>
