@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --primary-color: #5598fd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container-fluid{

  /* justify-content: center; */

  padding: 100px 100px;
  background: var(--primary-color);
  background-image:url("https://cdn2.hubspot.net/hubfs/2936356/maxresdefault.jpg");
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease;
}
img {
  width: 100%;
}
